# docker-compose file for deluge
# using 2 spaces as indent.
---
version: "3"

services:

### Deluge ###
  deluge:
    container_name: deluge
    network_mode: bridge
    restart: unless-stopped
    image: linuxserver/deluge:2.0.5-r0-ls143
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Copenhagen
      - DELUGE_LOGLEVEL=error # optional
    volumes:
      - /opt/dockermnts/deluge/config:/config
      #- /netmounts/new/Torrents/Complete/:/complete
      - /completetest:/complete
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp


